
@{
    ViewData["Title"] = "Update";
}
@addTagHelper *,Microfost.AspNetCore.Mvc.TagHelpers
@addTagHelper *,AuthoringTagHelpers

@model DepartmentCreation

<form method="post" asp-action="Update">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <input asp-for="DepartmentId" hidden />
            <label> Department Name</label>
            <input asp-for="DepartmentName" class="form-control" />
        </div>
        <div class="col-md-4 mb-3">
            <label> Department Positions</label>
            <input asp-for="PositionIds" class="form-control" />
        </div>
        <div asp-validation-summary="ModelOnly">

        </div>

    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a style="color:white" asp-controller="Department" asp-action="Back" class="btn btn-primary">Back</a>

</form>

